/*----COLORS
black: #000000
Electric indigo: #5800FF
Tiffany Blue: #98DFD6
Mikado Yellow: #FFC600
Anti-flash white: #F0F0F0
font-family: "Titan One", cursive;
----*/

* {
  font-family: "Titan One", cursive;
}

.game-grid {
  display: grid;
  /* grid-template-columns: repeat(5, 1fr); */
  column-gap: 15px;
  row-gap: 100px;
  place-items: center;
}

.game-grid div {
  height: 18rem;
  width: 12rem;
}

.game-grid > div:last-child {
  grid-column: 3;
}

.Card {
  display: grid;
  place-items: center;
  row-gap: 5px;
  border-radius: 5%;
  box-shadow: #f0f0f0 0 0 10px;
  transition: transform 0.6s;
  text-align: center;
  background-color: #5800ff;
}

.Card img {
  height: 150px;
  border-radius: 4px;
  /* box-shadow: #f0f0f0 2px 0 20px; */
}

.Card-text {
  color: #f0f0f0;
  /* font-size: 1.1rem; */
}

.Card-target:hover {
  transform: scale(1.2);
  box-shadow: #f0f0f0 0 0 20px;
}

.Card:active {
  box-shadow: #f0f0f0 0 0 60px;
}

.Card-drop {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Card-drop p {
  text-align: center;
  /* font-size: 8rem; */
  color: #f0f0f0;
  text-shadow: #f0f0f0 0px 0px 10px;
}

.animate-pulse {
  -webkit-animation: pulseAnimation 2s infinite;
  -moz-animation: pulseAnimation 2s infinite;
  -o-animation: pulseAnimation 2s infinite;
  animation: pulseAnimation 2s infinite;
}

.animate-pullcard {
  position: relative;
  -webkit-animation: pullcard 4s infinite 2s;
  -moz-animation: pullcard 4s infinite 2s;
  -o-animation: pullcard 4s infinite 2s;
  animation: pullcard 4s infinite 2s;
}

.score-board {
  color: #f0f0f0;
  text-align: center;
  padding: 30px;
  margin-bottom: 30px;
}

.score-board h4 {
  /* font-size: 3.5rem; */
}

.score-board span {
  color: #5800ff;
  text-shadow: #f0f0f0 0 5px 10px;
  /* font-size: 3rem; */
}

.score-board h3 {
  /* font-size: 2.7rem; */
}

.win-or-lose {
  color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.win-or-lose span {
  font-size: 4rem;
  color: #ffc600;
  text-shadow: #f0f0f0 0 5px 10px;
}

.win-or-lose h1 {
  font-size: 4rem;
}

.win-or-lose h2 {
  font-size: 1.5rem;
  padding-bottom: 20px;
}

.win-lose-container {
  display: flex;
  gap: 10px;
}

.win-lose-btn {
  padding: 15px;
  margin: 10px;
  border: none;
  background-color: #5800ff;
  border-radius: 20px;
  color: #f0f0f0;
  font-weight: 400;
  font-size: 1.2rem;
  transition: transform 0.8s;
  cursor: pointer;
  width: 8rem;
  text-align: center;
  font-family: "Titan One", cursive;
}

.win-lose-btn:hover {
  cursor: pointer;
  background-color: #f0f0f0;
  color: #5800ff;
  transform: scale(0.9);
  width: 8rem;
  font-family: "Titan One", cursive;
}

@media only screen and (max-width: 472px) {
  .Card {
    display: grid;
    place-items: center;
    row-gap: 5px;
    /* height: 100px;
    width: 75px; */
    border-radius: 5%;
    box-shadow: #f0f0f0 0 0 10px;
    transition: transform 0.6s;
    text-align: center;
    background-color: #5800ff;
  }

  .game-grid div {
    height: 8rem;
    width: 4.5rem;
  }

  .Card img {
    height: 50px;
    border-radius: 4px;
    /* box-shadow: #f0f0f0 2px 0 20px; */
  }

  .Card-text {
    color: #f0f0f0;
  }

  .Card-target:hover {
    transform: scale(1.2);
    box-shadow: #f0f0f0 0 0 20px;
  }

  .Card:active {
    box-shadow: #f0f0f0 0 0 60px;
  }
}

@keyframes pulseAnimation {
  0% {
    scale: 1.3;
  }
  50% {
    scale: 1;
  }
  100% {
    scale: 1.3;
  }
}
@-o-keyframes pulseAnimation {
  0% {
    scale: 1.1;
  }
  50% {
    scale: 1;
  }
  100% {
    scale: 1.1;
  }
}
@-moz-keyframes pulseAnimation {
  0% {
    scale: 1.1;
  }
  50% {
    scale: 1;
  }
  100% {
    scale: 1.1;
  }
}
@-webkit-keyframes pulseAnimation {
  0% {
    scale: 1.1;
  }
  50% {
    scale: 1;
  }
  100% {
    scale: 1.1;
  }
}

@keyframes pullcard {
  0% {
    top: 0;
  }
  50% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}
@-o-keyframes pullcard {
  0% {
    top: 0;
  }
  50% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}
@-moz-keyframes pullcard {
  0% {
    top: 0;
  }
  50% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes pullcard {
  0% {
    top: 0;
  }
  50% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}

.heart-div {
  display: flex;
  gap: 5px;
  width: 100dvw;
  justify-content: center;
  align-items: center;
}

.heart-img {
  height: 20px;
}
