.signup-form {
  border: 3px solid #5900ff96;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 10px;
}

.signup-form-text {
  color: #f0f0f0;
  font-family: "Titan One", cursive;
  text-align: center;
}

.signup-form form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
  -o-animation: fadein 2s;
  animation: fadein 2s;
}

.signup-form label {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
  color: #f0f0f0;
  font-family: "Titan One", cursive;
}

.signup-form input {
  border-radius: 10px;
  background-color: #5800ff;
  font-size: clamp(1rem, 3dvw, 1.5rem);
}

.signup-btn {
  border: none;
  background-color: #5800ff;
  border-radius: 20px;
  color: #f0f0f0;
  font-weight: 400;
  transition: transform 0.8s;
  cursor: pointer;
  width: 130px;
  text-align: center;
  font-family: "Titan One", cursive;
}
.signup-btn:hover {
  cursor: pointer;
  background-color: #f0f0f0;
  color: #5800ff;
  transform: scale(0.9);
  width: 130px;
  font-family: "Titan One", cursive;
}
.password-ctr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
