/*----COLORS
black: #000000
Electric indigo: #5800FF
Tiffany Blue: #98DFD6
Mikado Yellow: #FFC600
Anti-flash white: #F0F0F0

----*/
@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");

#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
  background: linear-gradient(#5800ff,#f0f0f0 );
}

.navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 100vw;
  height: 200px;
  margin-bottom: 20px;
  
}

.space-top {
  height: 30px;
}

.wavy{
  background: 
    linear-gradient(
      200deg,
      #ffc600, 
      #98dfd6,
      #ffc600
      );
      --mask:
      radial-gradient(34.99px at 50% 48.00px,#000 99%,#0000 101%) calc(50% - 60px) 0/120px 51% repeat-x,
      radial-gradient(34.99px at 50% -18px,#0000 99%,#000 101%) 50% 30px/120px calc(51% - 30px) repeat-x,
      radial-gradient(34.99px at 50% calc(100% - 48.00px),#000 99%,#0000 101%) calc(50% - 60px) 100%/120px 51% repeat-x,
      radial-gradient(34.99px at 50% calc(100% + 18.00px),#0000 99%,#000 101%) 50% calc(100% - 30px)/120px calc(51% - 30px) repeat-x;
    -webkit-mask: var(--mask);
            mask: var(--mask);
}

.logo {
  font-family: "Titan One", cursive;
  font-size: 2rem;
  font-weight: 600;
  text-shadow: #f0f0f0 0 0 10px;
  transition: transform 0.6s;
  margin-left: 30px;
}

.logo:hover {
  transform: scale(0.85);
}

.logo span {
  color: #f0f0f0;
  font-size: 3rem;
  font-weight: 900;
  text-shadow: #000000 0 0 10px;
}

.navBar ul {
  list-style: none;
  font-family: "Titan One", cursive;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1.1rem;
  color: #5800ff;
  text-shadow: #f0f0f0 5px 5px 5px;
  transition: transform 1s;
  gap: 30px;
  margin-right: 30px;
}

.navBar li:hover {
  transform: scale(1.2);
}

.preview-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  padding: 30px;
}

.preview-container p {
  font-size: 2rem;
  text-align: center;
}

.card-preview {
  height: 200px;
  width: 150px;
  background: linear-gradient(270deg, #98dfd6, #f0f0f0);
  border-radius: 5px;
  box-shadow: #ffc600 0 10px 20px;
  transition: transform 0.6s;
}
 .two:hover {
  transform: scale(1.2);
  box-shadow: #ffc600 0 10px 50px;
}



.landing-page-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-page-section p{
  font-family:"Titan One", cursive;
  text-align: center;
  font-size: 2rem;
  padding: 40px;
  color: #f0f0f0;
}

.directions{
  padding: 20px;
  margin-top: 20px;
}

.btn {
  padding: 15px;
  border: none;
  background-color: #98dfd6;
  border-radius: 20px;
  color: #000000;
  font-weight: 800;
  font-size: 1.2rem;
  transition: transform 0.8s;
  cursor: pointer;
  width: 20%;
  height: 20%;
  text-align: center;
  
 
}
.btn:hover {
  cursor: pointer;
  background-color: #f0f0f0;
  color: #5800ff;
  transform: scale(0.9);
  width: 20%;
  height: 20%;
}




