/*----COLORS
black: #000000
Electric indigo: #5800FF
Tiffany Blue: #98DFD6
Mikado Yellow: #FFC600
Anti-flash white: #F0F0F0
font-family: "Titan One", cursive;
----*/

@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");

/* DECK FORMS */

.formMain {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.mainText {
  font-size: 1.5rem;
}

.mainInputs {
  width: 100%;
}

.errorText {
  color: red;
  font-size: 0.85rem;
  margin-top: 5px;
  text-align: center;
}

.largeFont {
  font-size: 2.5rem;
}

.fontBasics {
  color: #f0f0f0;
  font-family: "Titan One", cursive;
  margin: 0px;
}

.inputG {
  border-radius: 10px;
  background-color: #5800ff;
  font-size: clamp(0.8rem, 3dvw, 1rem);
  font-size: 0.85rem;
  height: 30px;
}
.fileInput {
  background-color: transparent;
}

.submitImage {
  padding: 0 5px 0 5px;
  border: none;
  background-color: #f5018a;
  border-radius: 10px;
  color: #f0f0f0;
  font-weight: 300;
  font-size: 0.85rem;
  transition: transform 0.8s;
  cursor: pointer;
  text-align: center;
  font-family: "Titan One", cursive;
  height: 30px;
  width: 50%;
  min-width: 110px;
}

.submitImage:hover {
  background-color: #f0f0f0;
  transform: scale(0.9);
  color: #f5018a;
}

.creationContainer {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.navButton {
  padding: 5px 0 5px 0;
  border: none;
  background-color: #f5018a;
  border-radius: 10px;
  color: #f0f0f0;
  font-weight: 300;
  font-size: 1rem;
  transition: transform 0.8s;
  cursor: pointer;
  text-align: center;
  font-family: "Titan One", cursive;
  min-width: 200px;
  width: 18%;
}

.navButton:hover {
  background-color: #f0f0f0;
  transform: scale(0.9);
  color: #f5018a;
}

.submitDeck {
  margin-top: 15px;
  padding: 0 5px 0 5px;
  border: none;
  background-color: #f5018a;
  border-radius: 10px;
  color: #f0f0f0;
  font-weight: 300;
  font-size: 1rem;
  transition: transform 0.8s;
  cursor: pointer;
  text-align: center;
  font-family: "Titan One", cursive;
  height: 50px;
  min-width: 200px;
  width: 100%;
}

.submitDeck:hover {
  background-color: #f0f0f0;
  transform: scale(0.9);
  color: #f5018a;
}

input::file-selector-button {
  padding: 0 5px 0 5px;
  border: none;
  background-color: #f5018a;
  border-radius: 10px;
  color: #f0f0f0;
  font-weight: 300;
  font-size: 0.85rem;
  transition: transform 0.8s;
  cursor: pointer;
  text-align: center;
  font-family: "Titan One", cursive;
  height: 100%;
  width: 50%;
  min-width: 109px;
}

.cardForm {
  width: 18%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 5px #ffc600 solid;
  border-radius: 10px;
  padding: "10px";
  padding: 10px;
  min-width: 200px;
}

.deckForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: "10px";
  width: 18%;
  min-width: 200px;
}

.cardContainer {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

/* DECK LIST */

.mainList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.search {
  width: 18%;
  min-width: 200px;
  text-align: center;
  margin-bottom: 10px;
}

/* DECK DETAILS  */

.mainDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.deckImg {
  height: 150px;
  border-radius: 10px;
}

.cardDetails {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 5px #ffc600 solid;
  border-radius: 10px;
  padding: "10px";
  padding: 10px;
  width: 18%;
  min-width: 200px;
}

.centerText {
  text-align: center;
  margin-bottom: 10px;
}
