.game-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.game-grid div {
  height: 10rem;
  border: 1px solid black;
}

.game-grid > div:last-child {
  grid-column: 3;
}

.Card {
  height: 200px;
  width: 150px;
  border: 1px solid black;
  border-radius: 5%;
}

.Card-drop {
  border: none;
}
